h1 
{
	font-family: 'RobotoRegular', sans-serif;
}

body
{
	background-image: linear-gradient(45deg, black 30%, transparent);
}

main 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max(300px, 70vw);
	gap: 10px;
	padding-bottom: 20vh;
}

